body{
    background-image: url(../img/players-carnival.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    margin: auto;
    height: 1200px;
    width: 1100px;
    display: flex;
    justify-content: center;

}

.picture2{
    width: 711px;
    height: 465px;    
    margin: 200px;
    display: flex;
}

img{
    border-radius: 20px 20px;
}

.pantalla-players{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1001px;
}

.box{
    height: 430px;
    width: 692px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.selectPlayer{
    position: absolute;
    display: flex;
    justify-items: flex-start;
    flex-direction: column;
}

ul{
    margin: 2px;
    padding: 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

ul li{
    /*height: 200px;
    width: 200px;
    background-color: pink;*/
    list-style: none;
    border: 4px solid #24e62a;
    border-radius: 5px;
    margin: 4px;
    padding: 6px;
}

ul li a{
    padding: 98px 58px;
    display: block;
}
/*
li .player1{

}

li .player2{

}

li .player3{

}

li .player4{

}

li .player5{

}

li .player6{

}
*/