body{
    background-image: url(../img/players-carnival.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    margin: auto;
    height: 1200px;
    width: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container{
    height: 1200px;
    width: 1100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title{
    height: 250px;
    width: 755px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1, p {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: aliceblue;
    font-size: 50px;
   
}

.picture2{
    width: 711px;
    height: 465px;    
    margin: 200px;
    display: flex;
}

img{
    border-radius: 20px 20px;
}

.pantalla-players{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1001px;
}

.box{
    height: 700px;
    width: 802px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.selectPlayer{
    height: 668px;
    width: 430px;
    position: absolute;
    display: flex;
    justify-items: flex-start;
    flex-direction: column;
}

ul{
    margin: 2px;
    padding: 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

ul li{
    /*height: 200px;
    width: 200px;
    background-color: pink;*/
    list-style: none;
    border: 4px solid #1d3d1e;
    border-radius: 5px;
    margin: 4px;
    padding: 6px;
}

ul li a{
    padding: 98px 58px;
    display: block;
}

#jugadoresSeleccionados{
    width: 800px;
    height: 300px;
    align-items: flex-start;
    justify-content: space-between;

}

#luchadores{
    height: 250px;
    width: 900px;
    display: none; 
    align-items: flex-start; 
    justify-content: space-around;
}

/*
#luchadorSeleccionado img{
    

}*/
