body{
    background-image: url(../img/init.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

}

.clickStart{
    height: 825px;
    width: 850px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul{ 
    display: flex;
    flex-direction: row;
    align-items: center;
}

ul li{
    border: 25px solid rgb(95, 1, 149);
    border-radius: 50%;
    margin: 0 40px 80px 0;
}

ul, li, a{
    height: 850px;
    width: 850px;
    list-style: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 60px;
    color: rgb(95, 1, 149);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
